/* */
/* Colors */
:root {
    --background: #131416;
    --sidebarBackground: #1e1f22;

    --subjectBox: #1b1e22;
    --postBack: var(--subjectBox);
    
    --materialsList: #25292e;
    --materialsInner: #292c31;

    --buttonBlack: #30353f;
    --buttonHover: #50a5e9;

    --sidebarBorder: #079eda;
    --sidebarTextHighlight: #20b1ea;

    --markDoneBox: #6295be;

    --sidebarBoxColor: #262a33;
    --sidebarBoxSeperator: #515b6f;

    --postLinkPreview: #3b414c;

    --starredHover: #D3DAE1;
    
    --subjectBoxShadow: #4a4e57;

    --text: #a2a9ba;
    --defaultText: #b7d8f5;
    --postText: #d8d8d8;
    --textHover: #e8edf7;
    --darkTextHover: #555454;

    --link: #73a7f4;
    --linkHover: #8baee4;
    
    --materialCompletionBar: #0fd9b5;

    --star: #efd31a;
}

/* General */
element{
    box-shadow: none;
}
body {
    color: var(--defaultText);
}
a {
    color: var(--link)
}
a:hover {
    color: var(--linkHover)
}
/* Background */
.no-touch {
    background-color: var(--background);
}

/* Subject Boxes*/
.no-link-decoration,
.classroom-info {
    background-color: var(--subjectBox);
    box-shadow: 0 0 0 0 var(--subjectBox);
    border-left: 0px;
}

/* Weird shit to do with subject boxes*/
.classroom[data-v-65ddbb2c] {
    background-color: transparent;
    box-shadow: none;
    border-left: none;
    border-radius: 10px;
}
.classroom[data-v-65ddbb2c]:hover {
    box-shadow: -1px 2px 20px 0 var(--subjectBoxShadow);
}

/* Subject Title*/
.classroom-title {
    color: var(--text);
}
.classroom-title:hover {
    color: var(--textHover);
}

/* Currnet unit for subject*/
.name {
    color: var(--text);
}
.name:hover {
    color: var(--textHover);
}

/* Subject Box Icons*/
.classroom .classroom-links .classroom-link[data-v-65ddbb2c]:hover {
    color: var(--textHover);
}

/* Subject Box Star*/
.classroom .classroom-info .classroom-star.mdi-star[data-v-65ddbb2c] {
    color: var(--star);
}
.classroom .classroom-info .classroom-star.mdi-star[data-v-65ddbb2c]:hover {
    color: var(--star);
    animation: spin 0.3s linear forwards;
}
@keyframes spin {
    0% {
        transform: rotate(144deg);
    }
    10% {
        transform: rotate(144deg);
    }
    20% {
        transform: rotate(144deg);
    }
    30% {
        transform: rotate(144deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(144deg);
    }
}

/* Starred Options */
.category .category-title[data-v-9045ee96]:hover {
    color: var(--starredHover);
}

/* View Classrooms */
.btn-default.active,
.btn-default:active,
.btn-default,
.open > .btn-default.dropdown-toggle {
    background-color: var(--buttonBlack);
}
.btn-default.active,
.btn-default:active,
.btn-default:hover,
.open > .btn-default.dropdown-toggle {
    background-color: var(--buttonHover);
}
.btn,
.btn-default {
    color: #8cb6dc;
    border: none;
    border-radius: 10px;
}

/* Sidebar */
.event-list.panel-group[data-v-3cc03365] {
    background-color: var(--sidebarBackground);
}
.main-container .todos-container {
    background-color: var(--buttonBlack);
}
.panel[data-v-6d007f13] {
    background-color: var(--buttonBlack);
}
.panel .event-row[data-v-6d007f13] {
    border-bottom: 2px solid var(--sidebarBorder);
}
.panel-group {
    background-color: var(--sidebarBorder);
    margin-bottom: -1px;
}
.event-wrapper .date-wrapper[data-v-d600bbfa] {
    color: #fff;
}

/* ToDo & All Events */
.event-filters > button[data-v-95a639b8] {
    background: none;
    border: none;
    background-color: #30353f;
}
.event-filters > button[data-v-95a639b8]:last-child {
    border: none;
}
.text-primary {
    color: var(--sidebarTextHighlight);
}

/* Overdue */
.panel-default > .panel-heading {
    border: none;
    color: inherit;
    background-color: var(--sidebarBackground);
}
.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* Calander */
.event-footer > button[data-v-6d67d004] {
    background-color: var(--sidebarBackground);
}

/* Next 3 Weeks */
.event-category .event-category-body[data-v-52456225] {
    background-color: var(--sidebarBackground);
}

/* Homework Boxes */
.event-wrapper .event-data[data-v-d600bbfa] {
    background-color: var(--sidebarBoxColor);
    border-radius: 10px;
    box-shadow: 0 0 0 0 #c8c7cc;
}
.event-wrapper .event-data .mark-as-done[data-v-d600bbfa] {
    background-color: var(--sidebarBoxColor);
    border-top: 1px solid var(--sidebarBoxSeperator);
    border-radius: 0 0 10px 10px;
}
.event-wrapper .event-data .event-tile-wrapper .event-tile .meta[data-v-d600bbfa] {
    color: #96a6ad;
}
.event-wrapper .event-data .event-tile-wrapper .event-icons > .mdi[data-v-d600bbfa] {
    color: #96a6ad;
}
.event-wrapper .event-data .event-tile-wrapper .event-icons > .mdi[data-v-d600bbfa]:hover {
    color: #b2c4cc;
    transform: scale(1.1, 1.1)
}

/* Posts */
.node-post,
.field-post-comment-box,
.field-reply-comment-box,
.comment-box-options .attachment-actions {
    background-color: var(--postBack);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px #fff;
}
.node-post .post-header {
    border-radius: 10px 10px 0px 0px;
}
.node-post .field-post-text {
    color: var(--postText);
}
.node-post .post-text-overlay:not(.expanded)::after {
    height: 4px;
    background: var(--subjectBoxShadow);
}
.node-post tme-context-preview,
.node-post .field-post-attachments .field-post-attachment {
    border-top: 1px solid var(--sidebarBoxSeperator);
}
.node-post .field-post-actions {
    border-top: 1px solid var(--sidebarBoxSeperator);
    border-bottom: 1px solid var(--sidebarBoxSeperator);
}
.comment-box-options .attachment-actions a {
    color: var(--text);
}
.comment-box-options .attachment-actions a:hover {
    color: var(--textHover);
}
.static-toolbar.medium-editor-toolbar.medium-editor-toolbar-active .medium-editor-action,
.node-post .field-post-actions .btn.btn-default,
.rich-text-content,
.mdi.mdi-18px {
    color: var(--text);
}
.comment-input[data-medium-editor-element] {
    color: var(--postText)
}
.node-post .field-post-attachments .field-post-attachment .link-wrapper,
.node-post .field-post-comment-attachments .field-post-attachment .link-wrapper {
    border: 2px solid var(--postLinkPreview);
    border-radius: 10px;
}
.node-post .field-post-attachments .field-post-attachment .link-wrapper .link-meta,
.node-post .field-post-comment-attachments .field-post-attachment .link-wrapper .link-meta {
    background-color: var(--postLinkPreview);
}
.text-muted,
.meta,
.secondary,
.node-post .field-post-meta .field-post-classroom,
.node-post .field-post-meta .field-post-timestamp {
    color: var(--postText);
}
.bg-subtle-highlight,
.node-post .field-post-actions .btn.btn-default,
.comment-box-options {
    background-color: var(--postBack)
}
.node-post .attachment-type-deadline {
    background-color: var(--markDoneBox)
}
.modal-content {
    background-color: var(--postBack);
    border-radius: 10px;
}
.node-post.node-post-announcement .post-header {
    background-color: var(--postBack);
}
.list-posts .node-post {
    background-color: var(--postBack);
    border-radius: 10px;
    box-shadow: none;
}
.node-post .field-post-comments-section > .field-post-comments-list{
    background-color: var(--postBack);
}
.node-post .field-post-comments-section > .field-post-comments-list .restricted-comments:hover{
    color: var(--textHover);
}
.node-post .field-post-comments-section > .field-post-comments-list .restricted-comments, .node-post-comment, .node-post-comment:last-child{
    border-bottom: solid 1px var(--sidebarBoxSeperator);
    border-top: solid 1px var(--sidebarBoxSeperator);
}
.node-post .field-post-comments-section > .field-post-comments-list{
    border-left: 5px solid var(--materialsInner);
}

/* Subject Sidebars */
.inner-side-bar .list-group .list-group-item, .inner-side-bar .list-group .list-group-ellipsis-icon{
    background-color: var(--postBack);
    box-shadow: none;
    border: none;
    color: var(--text);
}
.inner-side-bar .list-group .list-group-item:hover, .inner-side-bar .list-group .list-group-ellipsis-icon:hover, tme-sidebar-icon .list-group-popover-item:hover{
    background-color: var(--subjectBoxShadow);
    box-shadow: none;
    border: none;
    color: var(--textHover);
}
.event-category .event-category-body.classroom-todos[data-v-52456225], .event-footer.restrict-group-footer > button[data-v-6d67d004], .classroom-scroll-filters {
    background-color: var(--postBack);
}
.classroom-scroll-filters{
    border-radius: 10px 10px 0 0;
}
.right-sidebar .sidebar-block .panel-group{
    background-color: var(--postBack);
}
.inner-side-bar .list-group .list-group-ellipsis-icon .list-group-popover{
    background-color: var(--postBack);
    box-shadow: 0 1px 3px 0 var(--subjectBoxShadow);
    border: 1px solid var(--postBack);
}
.inner-side-bar .list-group .list-group-ellipsis-icon .list-group-popover .list-group-popover-tail{
    background-color: var(--postBack);
    border-left: 1px solid var(--postBack);
    border-bottom: 1px solid var(--postBack);
}

/* Material Completion Bar */
.progress-item .progress-item-bar{
    background-color: var(--materialCompletionBar);
}
.progress-item{
    background-color: var(--postBack);
}
tme-classroom-view .classroom-next{
    background-color: var(--postBack);
    border-radius: 20px;
    box-shadow: none;
    transition: scale 300ms;
}
tme-classroom-view .classroom-next:hover{
    background-color: var(--postBack);
    border-radius: 20px;
    box-shadow: none;
    scale: 1.01;
}

/* Materials */
.bulk-select-operation, .bulk-select-operation .btn.default, tme-section{
    background-color: var(--postBack);
    box-shadow: none;
    border-radius: 10px;
}
tme-lesson-list-item, tme-assessment-list-item[view="list"] .assessment-content, tme-assessment-list-item, tme-survey-list-item{
    background-color: var(--materialsList);
    border-radius: 10px;
    box-shadow: none;
}
.lesson-creation-form, .lesson-creation-form .lesson-settings, .node-lesson{
    background-color: var(--materialsInner);
    border-radius: 10px;
    box-shadow: none;
}
.lesson-creation-form .lesson-settings .lesson-settings-header{
    background-color: var(--materialsInner);
    border-radius: 10px;
    box-shadow: none;
    
}
.lesson-page-list .lesson-page{
    background-color: var(--postBack);
    box-shadow: none;
    border-radius: 10px;
}
.section-items-list .section-list-object .section-item-main-meta{
    color: var(--text);
}
/* In Materials */
.lesson-page-view .lesson-page-container{
    background-color: var(--postBack);
}
tme-lesson-page .lesson-page-header{
    background-color: var(--materialsInner);
}


