.node-post .field-post-attachments .field-post-attachment .link-wrapper .link-meta, .node-post .field-post-comment-attachments .field-post-attachment .link-wrapper .link-meta {
	background: $black;	
}


.list-posts .node-post, .bg-subtle-highlight, .field-post-comment-box, .field-reply-comment-box, .comment-box-options, tme-classroom-view .classroom-next {
	background-color: $black;	
}

.field-post-text,.node-post .field-post-meta, .node-post .field-post-meta .field-post-classroom, .node-post .field-post-meta .field-post-timestamp  {
	color: $grey !important;
}
