/* /components/todos.scss */
.user-classrooms,
.header-container,
.header-title[data-v-d5e8726a] {
    color: $grey;
    
// fun fact i don't actually know what the code below does cos i was coding at 1 am, but i think it does something so pls don;t delete it
}

.main-container .todos-container {
    //for when the thing is loading
	background: $black;
	border-radius: none;
} 

.event-filters>button[data-v-95a639b8], .main-container, .todos-container {
	background: $black;
	color: $white;
	box-shadow: none;
	border-bottom: none !important;
	border-left: none !important; 
}

.event-filters[data-v-95a639b8] {
	background: $black;
	color: $black;
	border-bottom: none !important;
	border-left: none !important;
	box-shadow: none;
}

.panel-default>.panel-heading {
	color: $grey;
	background-color: $black;
	border-color: $black;
	border-radius: 0;
}
.event-wrapper .event-data .event-tile-wrapper .event-tile .title[data-v-d600bbfa],
.todos-container {
	color: $grey;	
	box-shadow: 0 0 0px 0 $black;
	/*banerjee come here and do the hover animation here pls*/
}

.event-category .event-category-body[data-v-52456225],
.event-list.panel-group[data-v-3cc03365],
.event-category .event-category-heading.classroom-todo-heading[data-v-52456225] {
	background-color: $black;
}
.event-wrapper .date-wrapper[data-v-d600bbfa]{
	color: $white;
}

.event-footer > button[data-v-6d67d004], .event-wrapper .event-data .mark-as-done[data-v-d600bbfa] {
	box-shadow: none;
	border-radius: 0 0 5px 5px;

	height: 45px;

	margin-top: 5px;
	margin-bottom: 5px;
}

.event-wrapper .event-data[data-v-d600bbfa]{
	background-color: $black;
	box-shadow: none;

	transition: box-shadow 250ms ease-in-out 10ms;

	&:hover {
		box-shadow: $box-border-primary $white !important;
	}

	.text-primary {
		color: $grey;

		transition: color 250ms ease-in-out 10ms, transform 250ms ease-in-out 10ms;

		&:hover{
			color: $white;
			transform: scale(1.1);
		}
	}
}

.event-footer>button[data-v-6d67d004] /*dumb footer thing*/, 
.event-wrapper .event-data .mark-as-done[data-v-d600bbfa] {
	border-top: 1px solid $black;
	background: $black;
}




