
// ======= [ Fonts ] ======= // 
:root {
  --font:  "Source Sans 3", sans-serif; // TEMP FONT will get a better font latr
}


// ======= [ Colors ] ======= // 
$grey: #8c8c8c;
$white: #FCFDFC;
$black: #000000;
$normal-blue: #003B71;
$light-blue: #a2a9bb;
$green: #41a389;

$primary-background: #000;

// ======= [ Border Radius ] ======= // 
$primary-radius: 5px;

// ======= [ Box Shadow ] ======= // 
$box-border-primary: 0 0 0 2px;







