
// ======= [ Fonts ] ======= // 
:root {
  --font:  "Source Sans 3", sans-serif; // TEMP FONT will get a better font latr
}


// ======= [ Colors ] ======= // 
$grey: #555555;
$white: #FCFDFC;
$black: #000;

$primary_background: #000;

// ======= [ Border Radius ] ======= // 
$primary_radius: 10px;

// ======= [ Box Shadow ] ======= // 








