/* pages/indiv_classroom */

#inner-side-bar .list-group-item.active, .inner-side-bar .list-group .list-group-item:hover, .inner-side-bar .list-group, .inner-side-bar .list-group .list-group-item, .inner-side-bar .list-group .list-group-ellipsis-icon .todos-container .wrapper {
	background-color:$black;
	box-shadow: 0 1px 4px #000000;
	margin: none;
}
