/* */
/* Colors */

#main_results {
  background-color:#252627;  
}

#results {   
  color: #669DFF;
  background: #252627;
}

#search_header {
  background:#252627;
}

#search {
  background:#252627;
}

highlight {
  color: #459321;
}

.search_filters {
  background:#252627;
}


.cache_link {
  color:#E80125;   
}

.engines {
  color: #60CE70;   
}


a.url_wrapper:link{
  color: #8B8B8B;
}
