:root {
  --font: "Source Sans 3", sans-serif;
}

.no-touch {
  background-color: #000;
}

.container-fluid {
  background-color: #000;
}

.list-group-item,
.content-section,
.no-link-decoration,
.classroom-info {
  background-color: #000;
  box-shadow: none;
  border-left: 0px;
}

.classroom[data-v-65ddbb2c] {
  box-shadow: none;
  border-left: none;
  border-radius: 5px;
}

.classroom-title {
  color: #8c8c8c;
}
.classroom-title:hover {
  color: #FCFDFC;
}

.cdc, .cdc-sections, .cdc-overlay {
  background-color: #000;
}

/* = - -- - - -*/
.btn-default {
  color: #8c8c8c;
  background-color: #000000;
  border: none;
}

.btn-default.active,
.btn-default:active,
.btn-default:hover,
.open > .btn-default.dropdown-toggle {
  /* "view all x classrooms" button */
  color: #FCFDFC;
  background-color: #000000;
  outline: none !important;
  border: none;
}

.btn.btn-share,
.btn-group.open .btn-share.dropdown-toggle,
.btn.btn-primary,
.btn-block.btn-primary,
.btn.btn-share:hover,
.btn-group.open:hover .btn-share.dropdown-toggle:hover,
.btn.btn-primary:hover,
.btn-block.btn-primary:hover {
  /* compact, standard toggle */
  background-color: #000000;
  border: none;
}

.category .category-title .category-line[data-v-9045ee96] {
  /* the line thingy */
  background-color: #8c8c8c;
}

/* classroom list */
.list-group-item,
.content-section,
.no-link-decoration,
.classroom-info {
  /* Classroom grid, background to black and border shadow to 0 (honestly IDK if that even works) */
  background-color: #000000;
  box-shadow: 0 0 0 0 #000000;
}

.classroom[data-v-65ddbb2c] {
  box-shadow: none;
  /* just doing rounded corners for each classroom */
  border-left: none;
  border-radius: 5px;
  transition: box-shadow 250ms ease-in-out 10ms;
}
.classroom[data-v-65ddbb2c]:hover {
  box-shadow: 0 0 0 2px #FCFDFC !important;
}

.classroom-title {
  color: #8c8c8c;
  /* classroom title in the grid, font color change */
}

.classroom-title:hover {
  color: #FCFDFC;
  /* doing the hover to lightup thing for classroom titles */
}

.cdc,
.cdc-sections,
.cdc-overlay {
  background-color: #000000;
  /* honestly IDK if this works, if it doens't just ignore & delete */
}

.classroom .classroom-info .classroom-image-wrapper .fresh-posts-count[data-v-65ddbb2c] {
  background: #8c8c8c;
  border: 1px solid #8c8c8c;
  color: #000000;
}

.node-post, .node-post.node-post-announcement .post-header {
  background-color: #000000;
  /*BANERJEE THIS IS THE PLACE*/
  box-shadow: 0 0 0 0 #000000;
}

/* pages/indiv_classroom */
.fade-next-text:not(.etiqa-site) {
  color: #8c8c8c;
}

#inner-side-bar .list-group-item.active, .inner-side-bar .list-group .list-group-item:hover, .inner-side-bar .list-group, .inner-side-bar .list-group .list-group-item, .inner-side-bar .list-group .list-group-ellipsis-icon .todos-container .wrapper {
  background-color: #000000;
  box-shadow: 0 1px 4px #000000;
  margin: none;
}

.node-post .field-post-actions {
  border-bottom: none;
  border-top: none;
}

.list-posts .node-post {
  box-shadow: 0 0 0 0 #000000;
  /*ya banerjee do popup here pls*/
}

a:hover {
  color: #FCFDFC;
}

.classroom-scroll-filters, .event-footer.restrict-group-footer > button[data-v-6d67d004] {
  background: #000000;
}

.event-category .event-category-body.classroom-todos[data-v-52456225],
tme-classroom-view .classroom-next.disabled:not(.etiqa-site) {
  background-color: #000000;
}

.panel .event-row[data-v-6d007f13] {
  border-bottom: none;
}

.progress-item {
  background-color: #000000;
}

.bg-primary {
  background-color: #000000;
  color: #FCFDFC;
}

.bg-success-l2 {
  background-color: #000000;
}

.todos .panel.todo-user-accordion > .panel-heading .panel-title a, a.no-link-decoration {
  color: #FCFDFC;
}

/*quiz page*/
.quiz-taking .quiz-take-header .quiz-take-navigaton {
  background-color: #000000;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .btn-default.dropdown-toggle.focus, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle:hover {
  background-color: #000000;
  color: #FCFDFC;
  border-color: #000000;
}

.dropdown-menu li > a:hover {
  background-color: #000000;
  color: #FCFDFC;
}

.dropdown-menu {
  background-color: #000000;
  color: #8c8c8c;
}

.quiz-taking .quiz-take-header .quiz-take-header-bar .display-score {
  background-color: #000000;
}

.quiz-taking .quiz-take-header .quiz-take-navigaton .question-navigation-main .question-navigation li a {
  border: 0px;
}

.quiz-taking .quiz-take-header .quiz-take-navigaton .question-navigation-main .question-navigation a:hover, tme-classroom-view .classroom-next:hover {
  background-color: #000000;
  color: #FCFDFC;
}

a {
  color: #8c8c8c;
}

.quiz-taking .quiz-take-header .quiz-take-navigaton .question-navigation-main .question-navigation .success a {
  background: #000000;
  color: #41a389;
  border: 0px;
}

.quiz-taking .quiz-take-header .quiz-take-navigaton .question-navigation-main .question-navigation .danger a {
  background: black;
  color: #e92b2b;
  border: 0px;
}

.quiz-taking .quiz-take-header .quiz-take-navigaton .question-navigation-main .question-navigation .answered a, .quiz-taking .quiz-take-header .quiz-take-navigaton .question-navigation-main .question-navigation .active a, .quiz-taking .quiz-take-header .quiz-take-navigaton .question-navigation-main .question-navigation .active a:hover {
  background: #000000;
  color: #FCFDFC;
}

.quiz-taking .quiz-take-header .quiz-take-navigaton .question-navigation-main .question-navigation li .arrow-down-success {
  border-top: 10px solid #41a389 !important;
}

.quiz-taking .quiz-take-header .quiz-take-navigaton .question-navigation-main .question-navigation li .arrow-down-danger {
  border-top: 10px solid #e92b2b !important;
}

.quiz-taking .quiz-take-header .quiz-take-navigaton .question-navigation-main .question-navigation li .arrow-down {
  border-top: 10px solid #FCFDFC;
}

.quiz-taking {
  background-color: #000000;
}

.mcq-question .question-option {
  background: #000000;
  border: 0px;
}

.mcq-question .question-option .question-option-label {
  color: #8c8c8c;
}

.mcq-question .question-option .question-option-input {
  border-right: 0px;
}

.mcq-question .question-option:hover:not(.non-edit) {
  background: #000000;
  border: 0px;
}

.mcq-question .question-option .question-option-label:hover {
  color: #FCFDFC;
}

.mcq-question .question-option .question-option-input:hover {
  border-right: 0px;
}

.quiz-taking .question-view .question-container .question-score {
  border: 0px;
}

.quiz-taking .quiz-take-bottom {
  background: #000000;
}

/*materials.scss*/
tme-lesson-list-item,
.lesson-page-view .lesson-page-container,
.bulk-select-operation, .bulk-select-operation .btn.default, tme-section, tme-assessment-list-item[view=card] .assessment-card-header .assessment-card-thumbnail {
  background-color: #000000;
}

tme-lesson-page .lesson-page-header .lesson-page-title-container tme-text .lesson-page-title {
  color: #FCFDFC;
}

tme-lesson-page-item.default,
.section-items-list .section-card-object.disable-material tme-assessment-list-item, .section-items-list .section-card-object.disable-material tme-lesson-list-item, .section-items-list .section-card-object.disable-material tme-survey-list-item, .section-items-list .section-list-object.disable-material tme-assessment-list-item, .section-items-list .section-list-object.disable-material tme-lesson-list-item, .section-items-list .section-list-object.disable-material tme-survey-list-item {
  background-color: #000000;
  color: #8c8c8c;
}

.bg-success, .input-append .add-on.bg-success {
  background-color: #8c8c8c;
  color: #000000;
}

tme-assessment-list-item, tme-survey-list-item,
.lesson-creation-form .lesson-settings,
.lesson-creation-form .lesson-settings .lesson-settings-header,
.lesson-page-list .lesson-page,
.section-items-list .section-card-object .field-progress-stats:hover, .section-items-list .section-card-object .lesson-contents-table li:hover, .section-items-list .section-card-object .lesson-contents-table li:hover .progress-item {
  background-color: #000000;
  color: #8c8c8c;
}

.label.label-info {
  background-color: #003B71;
  color: #FCFDFC;
}

.node-lesson .field-progress-stats:hover, .node-lesson .lesson-contents-table li:hover, .node-lesson .lesson-contents-table li:hover .progress-item {
  background-color: #000000;
  color: #8c8c8c;
}

tme-lesson-page .lesson-page-header {
  background: #000000;
}

/*border boxes*/
tme-assessment-list-item[view=card] .assessment-details .assessment-card-meta,
tme-assessment-list-item[view=card] .assessment-card-submission-info, tme-assessment-list-item[view=card] .assessment-card-user-submission-info,
tme-assessment-list-item[view=card] .assessment-details {
  border-right: 1px solid #8c8c8c;
}

tme-assessment-list-item, tme-survey-list-item {
  box-shadow: 0 0 4px 0 #8c8c8c;
}

/* components/left-navbar.scss */
.list-group-item {
  background-color: #000000;
  color: #8c8c8c;
}

a.list-group-item:hover {
  /* BANERJEE HERE: left navbar hover to light up */
  background-color: #000000;
  color: #FCFDFC;
}

a.nav-drawer-toggle:hover {
  /* the x button at the top left, lui tried to fix in Chinese but he couldn't, very ass if u ask me*/
  background-color: #000000;
  color: #000000;
}

.navbar .navbar-nav > li > a:hover,
header .navbar .navbar-nav > li > a.active,
header .navbar .navbar-nav > .active > a,
header .navbar .navbar-nav > .active > a:hover,
header .navbar .search-help:hover,
header .navbar .navbar-nav > li > a:hover,
header .navbar .navbar-nav > li > a.active,
header .navbar .navbar-nav > .active > a,
header .navbar .navbar-nav > .active > a:hover,
header .navbar .search-help:hover {
  /* the stupid "x" button at the top */
  background-color: #000000;
}

/* /components/todos.scss */
.user-classrooms,
.header-container,
.header-title[data-v-d5e8726a] {
  color: #8c8c8c;
}

.main-container .todos-container {
  background: #000000;
  border-radius: none;
}

.event-filters > button[data-v-95a639b8], .main-container, .todos-container {
  background: #000000;
  color: #FCFDFC;
  box-shadow: none;
  border-bottom: none !important;
  border-left: none !important;
}

.event-filters[data-v-95a639b8] {
  background: #000000;
  color: #000000;
  border-bottom: none !important;
  border-left: none !important;
  box-shadow: none;
}

.panel-default > .panel-heading {
  color: #8c8c8c;
  background-color: #000000;
  border-color: #000000;
  border-radius: 0;
}

.event-wrapper .event-data .event-tile-wrapper .event-tile .title[data-v-d600bbfa],
.todos-container {
  color: #8c8c8c;
  box-shadow: 0 0 0px 0 #000000;
  /*banerjee come here and do the hover animation here pls*/
}

.event-category .event-category-body[data-v-52456225],
.event-list.panel-group[data-v-3cc03365],
.event-category .event-category-heading.classroom-todo-heading[data-v-52456225] {
  background-color: #000000;
}

.event-wrapper .date-wrapper[data-v-d600bbfa] {
  color: #FCFDFC;
}

.event-footer > button[data-v-6d67d004], .event-wrapper .event-data .mark-as-done[data-v-d600bbfa] {
  box-shadow: none;
  border-radius: 0 0 5px 5px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.event-wrapper .event-data[data-v-d600bbfa] {
  background-color: #000000;
  box-shadow: none;
  transition: box-shadow 250ms ease-in-out 10ms;
}
.event-wrapper .event-data[data-v-d600bbfa]:hover {
  box-shadow: 0 0 0 2px #FCFDFC !important;
}
.event-wrapper .event-data[data-v-d600bbfa] .text-primary {
  color: #8c8c8c;
  transition: color 250ms ease-in-out 10ms, transform 250ms ease-in-out 10ms;
}
.event-wrapper .event-data[data-v-d600bbfa] .text-primary:hover {
  color: #FCFDFC;
  transform: scale(1.1);
}

.event-footer > button[data-v-6d67d004],
.event-wrapper .event-data .mark-as-done[data-v-d600bbfa] {
  border-top: 1px solid #000000;
  background: #000000;
}

/* components/add_button.scss */
header .navbar .btn-global {
  /* add button on top right */
  background-color: #000000;
  color: #8c8c8c;
  box-shadow: none;
  border: none;
}

header .navbar .btn-global:hover {
  /* hover to light up */
  background-color: #000000;
  color: #FCFDFC;
  box-shadow: none;
  border: none;
}

/* posts.scss */
/* posts */
.node-post .post-text-overlay:not(.expanded)::after {
  background: #000000;
}

.node-post .attachment-type-deadline {
  background-color: #000000;
  color: #8c8c8c;
}

/* comments */
.node-post .field-post-attachments .field-post-attachment .link-wrapper .link-meta, .node-post .field-post-comment-attachments .field-post-attachment .link-wrapper .link-meta {
  background: #000000;
}

.list-posts .node-post, .bg-subtle-highlight, .field-post-comment-box, .field-reply-comment-box, .comment-box-options, tme-classroom-view .classroom-next {
  background-color: #000000;
}

.field-post-text, .node-post .field-post-meta, .node-post .field-post-meta .field-post-classroom, .node-post .field-post-meta .field-post-timestamp {
  color: #8c8c8c !important;
}

.node-post-comment {
  color: #8c8c8c;
  border-bottom: none;
}

.node-post .field-post-comments-section > .field-post-comments-list {
  color: #8c8c8c;
  background: #000000;
  border-left: none;
}

.node-post-comment:last-child {
  border-top: none;
}

.node-post .field-post-comments-section > .field-post-comments-list .restricted-comments {
  border-bottom: none;
}

.node-post .field-post-comments-section > .field-post-comments-list .restricted-comments:hover {
  color: #FCFDFC;
}

/*# sourceMappingURL=main.css.map */
